.left {
    flex: 2;
    background-color: rgb(36, 36, 36);
    
}

.right {
    flex: 10;
    margin: 2% 1% 0 1%;
    border:solid 8px #6FB7B7;
    border-radius: 5px ;
    background-color: #6FB7B7;
    padding: 1%;
}

.main {
    background-color: rgb(77, 77, 77);
    display: flex;
    // min-width: 950px;
    min-height: 100%;
}