.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardTop{
    display: flex;
    width: 95%;
    margin: 1% 2.5%;
    flex-wrap: wrap;
}

.dashboardMiddle{
    background-color: #fff;
    width: 95%;
    margin: 1% 2.5%;
    flex-grow: 1;

}

.dashboardButtom{
    display: flex;
    width: 95%;
    margin: 0 2.5%;
    flex-grow: 1;
}

.dashboardCard{
    background-color: #fff;
    margin: 5px ;
    padding: 5px ;
    flex: 1;
    min-width: 180px;
    border: 3px ;
    border-color: black;
}

.dashboardCardTittle{
    font-family: "微軟正黑體";
    padding: 5px 5px ;
    width:auto;
    font-size:xx-large;
    font-weight:900;
    color:#727272a2
}

.dashboardCardContent{
    font-family: monospace;
    padding: 5px;
    width:auto;
    color: #727272fa;
    height: auto ;
    text-align:right;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: row-reverse;
}

// .dashboardCardContent > div{
//     font-family: monospace;
//     font-size: px;
//     font-weight: 700;
// }
.dashboardCardContenttotal{
    font-size: 24px;
    margin-top: 12px;
}

.dashboardCardContentGold50{
    color: #00d309;
    font-size: 36px;
    font-weight: 700;
}

.dashboardCardContentred5{
    color: #ff6161;
    font-size: 36px;
    font-weight: 700;
}

.dashboardButtomLeft{
    width: 50%;
    flex:1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dashboardButtomRight{
    width: 50%;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.verticalLine {
    width: 10px;
}

.statusCard{
    background-color: #fff;
    margin: 1% 0;
    flex:1 ;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    // flex-direction: column;
    min-width: 180px;
}

.redLight{
    background-color: #ffb6b6a6;
}

.yellowLight{
    background-color: #6cf3da61;
}

.greenLight{
    background-color: #72beff57;
}

.antiquewhiteLight{
    background-color: antiquewhite;
}

.statusCardLeft {
    flex: 1;
    display: flex;
    padding: 15px;
    font-size: 36px;
    font-family: "微軟正黑體";
    font-weight: 800;
    color: #727272a2;
    flex-direction: column;
    align-items: center;
}
.statusCardLeftTitle{
    flex: 1;
    font-size: 36px;
    font-family: "微軟正黑體";
    display: flex;
    align-items: center;
}

.statusCardLeftEvent{
    flex:1;
    font-size: 24px;
}

.statusCardMiddle{
    flex:1
}

.statusCardRight{
    flex:2;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.statusCardRightTop{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #727272a2;
}
.statusCardRightButtom{
    flex: 1;
    display: flex;
}

.statusCardRightButtomDevices{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    flex-direction: column;
}
.statusCardRightButtomDevice{
    flex: 1;
    font-size: 18px;
    display: flex;
    font-family: "微軟正黑體";
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #777;
}