.bg{
    background-color: #bbb;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.probeblock{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 500px;
    // height: 50%;
    // min-height: 550px;
    align-items: center;
    border-radius: 10px ;
    padding: 20px 0 0 0;
}

.probeleft{
    background-color: none;
    flex: 4;
}

.proberight{
    background-color: none;
    flex: 8;
}

.cell{
    // outline: 1px solid red;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    display: flex;
    font-size: 32px;
    color: #336699;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
