.probelistBlock{
    // background-color: #6FB7B7;
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    // display: flex;
}
.probelistItem {
    display: flex;
    margin: 0 0 15px 0;
}

.item3 {
    flex:3
}
.item6 {
    flex:6
}

.searchBar {
    width: 60%;
    min-width: 180px;
}

.probelists {
    // height: 90%;
    display: flex;
    flex-wrap:wrap;
    overflow: scroll;
}

.probeBlock{
    max-width: 18%;
    min-width: 18%;
    height: 150px;
    flex: 1;
    background-color: #b7ff42;
    margin: 2% 1%;
    border-radius: 5px;
    overflow:"scroll";

}

.probeBlock>a {
    height: 100%;
}
.probe{
    padding: 5px 10px ;
    font-size: larger;
}
th,td{
    text-align: center;
}