.probelists {
    background-color: #5CADAD	;
    border-radius: 10px;
    padding: 15px 10px ;
    width: 100%;
}
.probe{
    padding: 5px 10px ;
    border: white 1px ;
    font-size: larger;
}
th,td{
    text-align: center;
}
.probelistBlock{
    background-color: #6FB7B7;
}

